/* Titular */

main {
    width: 50%;
    margin: 0 auto;
    padding: 5% 0 5% 0;
}

h1{
    animation: slide-in-top 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

p{
    animation: slide-in-top 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

form {
    max-width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    animation: slide-in-top 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Formulario */

label {
    display: block;
    max-height: 30px;
    font-weight: 700;
}

input {
    height: 50px;
    color: #000000;
    font-size: 1em;
    background-color: #f6f6f6;
    margin: 30px 0 30px 0;
    border-radius: 50px;
    border: solid #ffffff 1.5px;
    padding: 0 20px;
}

form textarea {
    max-width: 100%;
    background-color: #f6f6f6;
    color: #000000;
    font-size: 1em;
    border-radius: 50px;
    border: solid #ffffff 1.5px;
    height: 200px;
    margin: 30px 0 30px 0;
    padding: 20px;
}

.enviar {
    color: #f6f6f6;
    width: 70%;
    background-color: #559184;
    height: 80px;
    margin: 30px auto;
    font-size: 1.5em;
    font-weight: 700;
    animation: pulsate-bck 600ms ease-in-out infinite both;
    border: none;
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Responsive */

@media (max-width:1200px) {
    main {
        width: 75%;
    }
}

@media (max-width:768px) {
    main {
        width: 75%;
    }

    label{
        font-size: 1.3em;
    }
    
    input{
        font-size: 1.2em;
    }

    form textarea{
        font-size: 1.3em;
        height: 300px;
    }

    .enviar {
        background-color: #559184;
        height: 100px;
        font-size: 1.6em;
    }    
}